/ACD Data.xlsx
/brand data export.xlsx
/Capstone Workspace.code-workspace
/GMMA Capstone Projects Deliverables 2020-2021.pdf
/MBA NDA_ Lorraine.doc
/MBA NDA_ Lorraine.pdf
/Project Charter Template 15.doc
/test_winefile.twb
/timeseries_vqa.csv
/timeseries_vqa.xlsx
/Z_Resources_from Teh Hau